body{
    background-color: azure;
    background-image: url(../..//image/concrete_seamless.png);
}
#Header{
    position:sticky;
    top: 0px;
    
}


#Header nav{
    display: flex;
    background-color:#fff;
    align-items: center;

}
#logo{
    width: 50%;
    margin-left: 30px;
    background-color: #4aaaa5;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 20px;
    margin-left: 300px;
    font-size: 30px;
    
}
#logo a{
    color: #fff;
    text-decoration: none;
}
#nav{
    width: 800px;
    margin-left: 30%;
}
#nav ul{
    display: flex;

    text-align: right;
}
#nav ul li{
    text-decoration: none;
    padding: 5px;
   
}
#nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #999;
}

li:not(:last-child)::after{
    content: " | ";
    font-size: 24px;
    color: #999;
}

#AboutSection{
    /* height: 600px; */
    display: flex;
    margin-top: 30px;
   

}
#info{
    width: 40%;
    background-color: #fff;
    margin-left: 300px;
    overflow: scroll;
    height: 40%;
}
#social{

    width: 18%;
    background-color: #fff;
    height: 200px;
    margin-left: 72px;
    margin-right: 305px;
}
#info p{
    margin-left: 10px;
    font-size: 25px;
}
#info img{
    float: left;
    padding-right: 20px;
}
#info h1{
    font-size: 30px;
    text-decoration: underline;
    color: green;
    margin-left:20px;
}
#social h2{
    font-size: 30px;
    text-decoration: underline;
    color: green;
    margin-left:20px;
}
#IconSocial{
    margin: 20px;
}
.line{
    height: 10px;
    background-color: green;
}
.copy{
    background-color: grey;
    text-align: center;
}
.copy h3{
    padding:  30px;
    font-size: 18px;
}

footer{
    padding: 30px 0px;
}

