:root{
  --neon: cyan;
  --bg-color: rgb(156, 100, 100);
}



#info div{
    padding: 10px;
}


#info div > * {
    display:block;
    margin-top:5px;
    width: 90%;
}
#info div > textarea {
   height: 200px;
}
button{
  background-color: var(--neon);
  color: #fff;
  width: 25% !important;
  padding: 20px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 20px var(--neon),0px 0px 20px var(--neon),0px 0px 20px var(--neon),0px 0px 20px var(--neon);
  transition: all 2s;

}
button:hover{
  background-color: black !important;
  box-shadow: 10px 10px 50px var(--neon),10px 10px 100px var(--neon),10px 10px 150px var(--neon),10px 10px 200px var(--neon),10px 10px 250px var(--neon);
  
}

input[type=text]{
  height: 40px;
  padding: 0px 5px;
  font-size: 24px;
}
#neon {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
