#wrapper{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    row-gap:10px;
    justify-content: space-between;
}
#wrapper div{
    width: 23%;
}

@media(max-width:400px){
    #wrapper div{
        width: 90%;
    }
}

@media((min-width:401px) and (max-width:767px)){
    #wrapper div{
        width: 45%;
    }
}